<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>

	<body>
		<b>Contul dumneavoastra a fost validat cu success.</b><br/>
		Pentru a va autentifica va rugam sa accesati urmatorul link. <a href="${loginURL}">Autentificare</a>
		
	</body>
</html>

